# Copyright (C) 2021 Robin Schneider <ypid@riseup.net>
# Copyright (C) 2021 DebOps <https://debops.org/>
# SPDX-License-Identifier: CC0-1.0
#
# This file is managed by Copier, all changes will be lost.
[[_copier_answers|to_nice_yaml]]
